* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding:8px 10px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;   

}


.logo {
     font-size: 24px;
     color: #f9faf8;
     text-decoration: none;
     padding: 8px 8px;

}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 24px; 
    
    
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid beige;

}

.box-content {
    flex: 1; 
    display: flex;
    flex-direction: row;
    justify-content: center ;     
}
  
  .box-link {
    padding: 10px;
    text-align: center;
  }
  
  .box-register,
  .box-about,
  .box-login {
    padding: 10px;
    text-align: center;
  }

  .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
  }

 .subtitle p {
    font-size: 18px;
    color: #e5e7eb;
    

 }

 .subtitle {
    border: #e5e7eb solid 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 
 .header-signup {
    font-size: 1rem;
    color: #333;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: rgb(14, 197, 207);
  }

 